<launch>
  <arg name="image"  default="sim.pgm"/>
  <arg name="map_topic"  default="/map"/>
  <arg name="sub_path_topic"  default="/move_base/GlobalPlanner/plan"/>

    <node pkg="path_optimizer_2" type="path_optimizer_2_demo4" name="path_optimizer_2_demo" args="--log_dir=." output="screen"   >
      <param name="image" type="str" value="$(arg image)"/>
      <param name="map_topic" type="str" value="$(arg map_topic)"/>
      <param name="sub_path_topic" type="str" value="$(arg sub_path_topic)"/>            
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find path_optimizer_2)/config/rvizConfig.rviz" output="screen" />
</launch>
